head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')


template(name='layout')
    //- +nav
    //- .global_container
    +yield


template(name='not_found')
    .ui.text.container.global_container
        .ui.center.aligned.header not found
        a.ui.button(href="/") home



template(name='textarea_view')
    if field_value
        div
        .ui.inline.small.header
            if icon
                +ismall name=icon
                //- i.grey.icon(class=icon)
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}            
        |{{nl2br field_value}}

template(name='textarea_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(name=icon)
                    //- +ismall name=icon classes='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                else if key
                    |#{key}
                else
                    |#{this}
            textarea.edit_textarea(rows='15') #{field_value}
        //- +call_watson mode='text' key=key



template(name='array_edit')
    div
    .ui.tiny.header
        if icon
            +ismall name=icon
            //- i.grey.icon(class=icon)
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
    .ui.fluid.input
        input.new_element(type='text' placeholder='+' autocomplete="off")
    .ui.fluid.input
        input#quick_add(type='text' placeholder='quick add' autocomplete="off")
        //- +clear_value                
    div
    if field_value
        each field_value
            .ui.basic.label
                |#{this}
                i.delete.icon.remove_element
                
template(name='array_view')
    //- if field_value
    if field_value
        div
        .ui.inline.small.header
            if icon
                +ismall name=icon
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        each field_value
            .ui.basic.circular.label #{this}




template(name='cloud')
    .ui.padded.grid
        .sixteen.wide.center.aligned.column
            .ui.icon.button.add_doc
                i.plus.icon
            .ui.left.icon.transparent.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" autofocus='' 
            if selected_tags
                #clear_tags.ui.active.icon.large.button
                    i.remove.icon
                each selected_tags
                    .unselect_tag.ui.active.large.button
                        strong #{this}
            each all_tags
                .ui.compact.large.button.select_tag(class=cloud_tag_class) 
                    strong #{this.name}
        .sixteen.wide.column
            +docs
            .ui.transparent.input
                input.import_subreddit(type='text' placeholder='import subreddit')
        .sixteen.wide.center.aligned.column
            form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.icon.button(type='submit')
                    i.pied.piper.alternate.icon
            
            
            
template(name='docs')
    //- if one_doc
    //- with last_doc
    //-     if youtube_id
    //-         .ui.embed(data-source="youtube" data-id=youtube_id)
    //- 
    //-     if youtube
    //-         .ui.embed(data-source="youtube" data-id=youtube)
    //- 
    //-     a.ui.header(href=url) #{url}
    //-     //- each tags
    //-     //-     .ui.label #{this}
    //-     |!{content} !{new_html} !{body}


template(name='tag_result')
    |#{name}




template(name='view')
    with current_doc
        .ui.stackable.padded.grid
            .sixteen.wide.column
                a.ui.icon.button(href='/')
                    i.home.icon
                //- +edit_button
                a.ui.icon.button(href="/edit/#{_id}")
                    i.pencil.icon
                +array_view key='tags' direct=true
                +textarea_view key='new_html' direct=true
                //- each _keys
                //-     //- .ui.label #{this}
                //-     +key_view_template
                //- //- .ui.hidden.divider
                //- if analyzed_text
                //-     |#{nl2br analyzed_text}
                //-     .ui.hidden.divider
                div
                .ui.inline.header 
                    //- +i name='merge'
                    |top matches
                .ui.icon.button.calculate
                    i.refresh.icon
                each sorted_matches
                    +doc_match
            //- .column.scrolling
            //-     .ui.basic.segment150
            //-         if watson
            //-             +tone
            //-             +keywords
            //-         //- +watson_view
            //-         if visual_classes
            //-             +visual_classes

template(name='doc_match')
    .ui.secondary.segment.pointer.doc_match
        //- |tag matches: #{tag_match_count}
        with matching_doc
            img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id }}")
            if youtube_id
                +youtube_view key='youtube_id' icon='youtube' direct=true
            if body
                .ui.basic.segment {{nl2br body}}
            each tags
                .ui.small.label(class=matching_tag_class) #{this}
            //- +author_info


                
template(name='edit')
    with current_doc
        .ui.stackable.padded.grid
            .sixteen.wide.column
                //- h1.ui.inline.header edit
                a.ui.green.icon.button(href="/view/#{_id}") 
                    i.checkmark.icon
                #delete_doc.ui.red.icon.button
                    i.remove.icon
                //- +field_menu   
                //- .ui.header import site
                .ui.fluid.input
                    input.new_site(type='text')
                +array_edit key='tags' direct=true
                +textarea_edit key='new_html' direct=true
                .ui.big.icon.button.autotag
                    i.chess.icon


template(name='no_match')
