head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')
    script(async='' src='//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=248bb52f-dd7b-4cdf-9d1c-a6690431408e')


template(name='layout')
    img.ui.fluid.image.checkin_banner(src="{{c.url tribe_background width=1000 height=1000 crop='crop'}}")
    //- if is_admin
    +nav
    .global_container
        +yield
    +footer 

template(name='mlayout')
    +yield

template(name='not_found')
    .ui.text.container.global_container
        .ui.center.aligned.header not found
        a.ui.fluid.compact.button(href="/") home



template(name='cloud')
        //- if currentUser
        //-     .ui.icon.large.circular.button.add_doc
        //-         i.plus.icon
        .ui.left.icon.transparent.input
            i.search.icon
            +inputAutocomplete settings=settings id="search" class="" autocomplete="off" autofocus='' 
        //- i.big.tags.icon
        if selected_tags
            #clear_tags.ui.active.icon.large.circular.compact.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.active.large.circular.compact.button
                    strong #{this}
        each all_tags
            .ui.circular.large.compact.button.select_tag(class=cloud_tag_class) 
                strong #{this.name}
        //- i.big.user.icon
        //- if selected_usernames
        //-     #clear_usernames.ui.active.icon.large.circular.compact.button
        //-         i.remove.icon
        //-     each selected_usernames
        //-         .unselect_username.ui.active.large.circular.compact.button
        //-             strong #{this}
        //- each all_usernames
        //-     .ui.circular.large.button.select_username(class=username_tag_class) 
        //-         strong #{this.name}
    
            
template(name='doc')
    .ui.secondary.segment
        if youtube_id
            +youtube_view key='youtube_id'
        if youtube
            +youtube_view key='youtube'
        a.ui.header(href=url) #{url}
        if image_id
            img.ui.centered.rounded.large.image(src="{{c.url image_id gravity='face' crop='fit'}}" class=classes)
        if image
            img.ui.centered.rounded.large.image(src="{{c.url image gravity='face' crop='fit'}}" class=classes)
        |!{content} !{new_html} !{body} !{description} !{html} !{notes}
        .ui.icon.red.button.delete_doc
            i.remove.icon
        if title
            .ui.header #{title}
        if model
            .ui.header #{model}
        each tags
            .ui.compact.small.button.toggle_selection(class=tag_selector_class) #{this}
        input.new_author(type='text' value=_author_username)
        +change_author name='reddit'
        +change_author name='wikipedia'
        +change_author name='craigslist'
        +change_author name='intercambio'
        +change_author name='goldrun'
        +change_author name='nist'
        +change_author name='eric'
        +change_author name='news'
        
template(name='change_author')
    .ui.small.teal.circular.button.change_author #{name}

template(name='tag_result')
    |#{name}


template(name='view')
    with current_doc
        .ui.stackable.padded.grid
            .sixteen.wide.column
                a.ui.icon.big.circular.button(href='/')
                    i.home.icon
                //- +edit_compact.button
                a.ui.icon.big.circular.button(href="/edit/#{_id}")
                    i.pencil.icon
                .ui.segment
                    +image_view key='image_id' direct=true
                    +youtube_view key='youtube_id' direct=true
                    +array_view key='tags' direct=true
                    +textarea_view key='body' direct=true

                
                //- each _keys
                //-     //- .ui.label #{this}
                //-     +key_view_template
                //- //- .ui.hidden.divider
                //- if analyzed_text
                //-     |#{nl2br analyzed_text}
                //-     .ui.hidden.divider
                div
                .ui.inline.header 
                    //- +i name='merge'
                    |top matches
                .ui.icon.compact.button.calculate
                    i.refresh.icon
                each sorted_matches
                    +doc_match

template(name='doc_match')
    .ui.secondary.segment.pointer.doc_match
        //- |tag matches: #{tag_match_count}
        with matching_doc
            img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id }}")
            if youtube_id
                +youtube_view key='youtube_id' icon='youtube' direct=true
            if body
                .ui.basic.segment {{nl2br body}}
            each tags
                .ui.small.label(class=matching_tag_class) #{this}
            //- +author_info

                
template(name='edit')
    with current_doc
        .ui.stackable.padded.grid
            .sixteen.wide.column
                //- h1.ui.inline.header edit
                +image_edit key='image_id' direct=true
                +youtube_edit key='youtube_id' direct=true
                +array_edit key='tags' direct=true
                +html_edit key='body' direct=true
                a.ui.green.icon.big.circular.button(href="/view/#{_id}") 
                    i.checkmark.icon
                #delete_doc.ui.red.icon.big.circular.button
                    i.remove.icon

template(name='no_match')



template(name='shortcut_modal')
    .ui.shortcut.modal
        .ui.header shortcuts
        .content
            .ui.large.list
                each shortcuts
                    .item 
                        .header #{combo}
                        .content #{action}
