template(name='view')
    with current_doc
        .ui.stackable.padded.grid
            +nav
            .row
                .four.wide.column
                    .ui.basic.segment.large150
                        .ui.header
                            if icon
                                i.blue.icon(class=icon)
                            |#{title}
                        if is_dev
                            div
                            if is_author
                                //- +edit_button
                                a.ui.big.icon.button(href="/edit/#{_id}")
                                    i.pencil.icon
                .twelve.wide.column
                    .large150
                        each _keys
                            //- .ui.label #{this}
                            +key_view_template
                        //- .ui.hidden.divider
                        if analyzed_text
                            |#{nl2br analyzed_text}
                            .ui.hidden.divider
                        div
                    .ui.inline.header 
                        +i name='merge'
                        |top matches
                    .ui.icon.button.calculate
                        i.refresh.icon
                    each sorted_matches
                        +doc_match

template(name='doc_match')
    .ui.secondary.segment.pointer.doc_match
        //- |tag matches: #{tag_match_count}
        with matching_doc
            img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id }}")
            if youtube_id
                +youtube_view key='youtube_id' icon='youtube' direct=true
            if body
                .ui.basic.segment {{nl2br body}}
            each tags
                .ui.small.label(class=matching_tag_class) #{this}
            //- +author_info


//- template(name='view')
//-     .ui.segment.container
//-         .content
//-             a(href="/view/#{_id}")
//-                 .image
//-                     img.ui.large.centered.image(src="{{c.url image_id }}")
//-                 h1.ui.header #{title}
//-             .meta
//-                 each tags
//-                     .ui.button.tag(class=tag_class) #{this}
//-             .description
//-                 |!{description}
//-             if can_edit
//-                 .edit.ui.icon.button
//-                     i.pencil.icon.icon
//-             else
//-                 | by #{author.username} #{when}
//- 
                
template(name='edit')
    with current_doc
        .ui.stackable.padded.grid
            .sixteen.wide.column
                h1.ui.inline.header edit
                a.ui.green.big.icon.circular.button(href="/view/#{_id}") 
                    i.large.checkmark.icon
                #delete_doc.ui.red.icon.circular.button
                    i.remove.icon
                //- +field_menu   
                //- .ui.header import site
                .ui.fluid.input
                    input.new_site(type='text')
                each _keys
                    +field_edit





template(name='field_menu')
    i.grey.plus.large.icon(title='add field')
        //- |brick
    each fields
        .ui.large.circular.button.add_field
            i.icon(class=icon)
            //- +i name=icon classes='ui avatar image'
            |#{slug}


template(name='field_edit')
    .ui.basic.segment
        //- i.remove.icon.large.link.remove_field(title='remove field')
        //- .ui.inline.header(title='name') #{key}
        //- .ui.input
        //-     input.change_key(type='text' placeholder='key' value=key)
        //- 
        //- .ui.divider
        +key_edit_template
        //- 
        //- with context
            +Template.dynamic template=field_edit
        //- .ui.divider
        //- +jsonView json=meta







                    
template(name='key_view_template')
    //- .ui.header #{key}: #{value}
    //- .ui.blue.header #{meta}
    
    +Template.dynamic template=meta
                    
                        
template(name='key_edit_template')
    //- .ui.header #{key}
    //- .ui.header #{key}: #{value}
    //- .ui.blue.header #{meta}
    
    +Template.dynamic template=meta
                    
                        
