template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                h1.ui.center.aligned.grey.header 
                    |#{current_tribe.title}
                    |portal
            .four.wide.column
                .ui.big.button.add_model
                    |add model
            .eight.wide.column
                .ui.left.icon.input
                    i.search.icon
                    input.model_filter(type='text' placeholder='filter...' autofocus='autofocus')
    
    .ui.stackable.four.column.padded.grid
        each tribe_role_models
            .column
                .ui.segment.home_segment
                    .ui.header 
                        +i name=icon
                        |#{title}
                    |#{description}
                    a.ui.icon.big.button.set_model(href="/m/#{slug}")
                        i.right.chevron.icon
                    //- +call_method name='detect_objectid'
                    //- +call_method name='find_string_id'
                    //- +call_method name='find_object_id'
                    //- +call_method name='convert_objects'
                    //- +call_method name='clone_document'
                    if is_dev
                        +text_edit key='tribe_slug' label='tribe slug' direct=true
                        each view_roles
                            .ui.basic.label #{this}
                        +remove_button

//- 
//- template(name='home')
//-     .ui.grid
//-         .eight.wide.column
//-             .ui.header marketplace
//-             each marketplace_items
//-                 +marketplace_item
//-         .eight.wide.column
//-             .ui.header posts
//-             each posts
//-                 +post
