template(name='nav')
    #topnav.topnav.ui.borderless.attached.menu
        if is_loading
            .item
                i.big.loading.yin.yang.grey.cancel.link.cancel.icon
        unless is_loading
            //- a.ui.item(href='/restaurants' class="{{isActivePath '/grid'}}" title='models')
            a.ui.item(href='/' class="{{isActivePath '/'}}" title='models')
                i.home.large.icon
                //- +i name='grid-view'
        a.ui.item(href='/grid' class="{{isActivePath '/grid'}}" title='grid')
            i.th.large.icon
            //- +i name='grid-view'
        a.ui.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='model delta view')
            i.fork.large.icon
        //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
        //-     i.store.icon
        //-     |shop
        if is_admin
            a.icon.item.pointer(href='/users' class="{{isActivePath '/users'}}")
                i.users.large.icon
        .right.menu
            if is_dev
                a.icon.item.pointer(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                    +i name='code' classes='ui avatar image pointer'
            if currentUser
                unless logging_out
                    //- if is_dev
                    unless is_frontdesk
                        a.item.pointer(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                            if currentUser.profile_photo
                                img.ui.avatar.image(src="{{c.url currentUser.profile_photo width=100 height=100 gravity='face' crop='fill'}}")
                            else
                                +i name='user'
                            //- | #{currentUser.username}
                if logging_out
                    .item.pointer
                        i.large.loading.circle.notch.icon
                //- else
                //-     a#logout.ui.mobile.hidden.icon.item.pointer(href='#' title='Log Out')
                //-         i.sign.out.large.icon
            else
                a.item.pointer(href='/login' title='login') 
                    +i name='internal'
                    |login



template(name='footer')
    .ui.fluid.basic.attached.basic.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                +add_button label='submit bug' model='bug'
                //- if is_dev    
                //-     with current_user
                //-         +role_switcher
            .eight.wide.column
                a(target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=daoaf-20&linkCode=ur2&linkId=3d0f1eb4de451e9f8dfb11a49ca54ebf&camp=1789&creative=9325&node=283155") textbook link
                img(src="//ir-na.amazon-adsystem.com/e/ir?t=daoaf-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;")    
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                //- if is_eric
                //-     with currentUser
                //-         +role_switcher
                //- else if is_dev
                //-     with currentUser
                //-         +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- else if currentUser
    //-     with currentUser
    +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='user' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //- +user_array_element_toggle key='roles' value='owner' user=currentUser
