template(name='nav')
    unless is_frontdesk
        //- .ui.borderless.attached.big.inverted.menu.topnav
        //- .ui.attached.borderless.inverted.large.menu.topnav.grgold
        .ui.attached.borderless.inverted.menu.topnav(style="background:#{current_tribe.nav_color}")
            if current_tribe
                a.header.item.pointer(href="/t/#{current_tribe.slug}/home" class="{{isActivePath '/home'}}")
                    if is_loading
                        i.big.loading.yin.yang.icon.glowing
                    else
                        if current_tribe.image_id
                            img.ui.avatar.image(src="{{c.url current_tribe.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .mobile.hidden.inline #{current_tribe.title}
            if is_admin
                a.item.pointer.set_models(href='/m/model' class="{{isActivePath '/m/model'}}")
                    +i name='active-directory' classes='ui avatar image pointer'
            //- a.icon.item.pointer(href='/home' class="{{isActivePath '/home'}}")
            //-     +i name='activity-grid-2' classes='ui avatar image pointer'
            //- if is_user
            //- a.icon.item.pointer(href='/front' class="{{isActivePath '/front'}}")
            //-     +i name='home' classes='ui avatar image pointer'
            //- a.icon.item.pointer(href='/dashboard' class="{{isActivePath '/dashboard'}}")
            //-     +i name='dashboard' classes='ui avatar image pointer'
            if is_admin
                a.icon.item.pointer(href='/users' class="{{isActivePath '/users'}}")
                    +i name='groups' classes='ui avatar image pointer'
                    .mobile.hidden.inline &nbsp; users
            .right.menu
                a.item.pointer(href='/tribes' class="{{isActivePath '/tribes'}}" title='tribes')
                    +i name='fire' classes='ui avatar image pointer'
                .item.pointer.toggle_model_nav(title='toggle model nav')
                    +i name='chevron-down' classes='ui avatar image pointer'
                a.item.pointer(href="/t/#{current_tribe.slug}/edit" title='tribes')
                    +i name='edit' classes='ui avatar image pointer'
                a.item.pointer(href="/t/#{current_tribe.slug}/dashboard" title='tribe dashboard')
                    +i name='dashboard' classes='ui avatar image pointer'
                if is_dev
                    a.icon.item.pointer(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                        +i name='code' classes='ui avatar image pointer'
                    //- a.icon.item.pointer.set_task(href='/m/task' class="{{isActivePath '/m/task'}}" title='tasks')
                    //- i.tasks.icon
                if current_tribe.courses
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/courses" class="{{isActiveRoute regex='tribe_school'}}" title='school')
                        +i name='university' classes='ui avatar image pointer'
                if current_tribe.blog
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/blog" class="{{isActiveRoute regex='tribe_blog'}}" title='blog')
                        +i name='blog' classes='ui avatar image pointer'
                if current_tribe.gallery
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/gallery" class="{{isActiveRoute regex='tribe_gallery'}}" title='gallery')
                        +i name='gallery' classes='ui avatar image pointer'
                if current_tribe.events
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/events" class="{{isActiveRoute regex='tribe_events'}}" title='events')
                        +i name='calendar' classes='ui avatar image pointer'
                if current_tribe.tasks
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/shop" class="{{isActiveRoute regex='tribe_shop'}}" title='shop')
                        +i name='shop' classes='ui avatar image pointer'
                if current_tribe.tasks
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/tasks" class="{{isActiveRoute regex='tribe_tasks'}}" title='tasks')
                        +i name='tasks' classes='ui avatar image pointer'
                if current_tribe.mail
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/inbox" class="{{isActiveRoute regex='tribe_mail'}}" title='mail')
                        +i name='inbox' classes='ui avatar image pointer'
                if current_tribe.chat
                    a.icon.item.pointer(href="/t/#{current_tribe.slug}/chat" class="{{isActiveRoute regex='tribe_chat'}}" title='chat')
                        +i name='chat' classes='ui avatar image pointer'
                if currentUser
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.item.pointer(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.profile_photo
                                    img.ui.avatar.image(src="{{c.url currentUser.profile_photo width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user'
                                //- | #{currentUser.username}
                    if logging_out
                        .item.pointer
                            i.large.loading.circle.notch.icon
                    //- else
                    //-     a#logout.ui.mobile.hidden.icon.item.pointer(href='#' title='Log Out')
                    //-         i.sign.out.large.icon
                else
                    a.item.pointer(href='/login' title='login') 
                        +i name='internal'
                        |login
        if currentUser.view_model_bar
            .ui.attached.small.borderless.inverted.menu.topnav(style="background:#{current_tribe.nav_color}")
                each tribe_role_models
                    a.item.pointer.set_model(href="/t/#{current_tribe.slug}/m/#{slug}/")
                        +i name=icon classes='ui avatar image pointer'
                        |#{title}
                each tribe_pages
                    a.item.pointer(href="/t/#{current_tribe.slug}/p/#{slug}/")
                        //- +i name=icon classes='ui avatar image pointer'
                        |#{title}



template(name='footer')
    .ui.fluid.basic.attached.basic.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                if is_staff
                    +add_button label='submit bug' model='bug'
                else
                    form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                        //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.icon.button(type='submit' title='donate')
                            +i name='donate'
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        +i name='anonymous-mask'
        |#{username} role switcher
    //- if is_eric
    //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- else if currentUser
    //-     with currentUser
    +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='user' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //- +user_array_element_toggle key='roles' value='owner' user=currentUser
