template(name='tribe_home')
    +Template.dynamic template=ct.slug

template(name='page')
    with page
        div(style=page_style)
            if fullscreen
                if html
                    |!{html}
                each children
                    // with page
                    +Template.dynamic template=slug
            else  
                .ui.stackable.padded.grid
                    unless hide_header
                        .centered.middle.aligned.row
                            .four.wide.center.aligned.column
                            .eight.wide.center.aligned.column
                                .ui.header 
                                    if color_icon
                                        +icolor name=color_icon
                                    if icon
                                        i.icon(class=icon)
                                    |#{title}
                            .four.wide.center.aligned.column
                                if can_edit
                                    a.ui.icon.button(href="/s/page/#{_id}/edit" title='Edit Page')
                                        i.pencil.icon
                    .centered.row
                        .sixteen.wide.column 
                            if html
                                |!{html}
                                
                            each children
                                // with page
                                +block
                        
                        
template(name='add')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    +icolor name='plus'
                    // i.plus.icon
                    | Add
        .row
            .sixteen.wide.column
                .ui.stackable.four.link.cards
                    if is_admin
                        .card.add_model
                            .content
                                .header 
                                    // i.sitemap.icon
                                    +icolor name='active-directory'
                                    | Schema
                        .card.add_page
                            .content
                                .header 
                                    // i.clone.icon
                                    +icolor name='template'
                                    | Page
                    each add_models
                        .card.add_doc
                            .content
                                .header 
                                    // i.icon(class=icon)
                                    +icolor name=color_icon
                                    |#{title}
                        
                        
template(name='pages')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    i.clone.icon
                    | Pages
        .row
            .sixteen.wide.column



                        
template(name='menu')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    // i.sitemap.icon
                    i.th.icon
                    // +icolor name='activity-grid-2' classes='ui avatar image'
                    | Sections
        .row
            .sixteen.wide.column
                .ui.stackable.four.link.cards
                    each view_models
                        a.card.set_tribe_model(href="/s/#{slug}" class="{{isActiveRoute regex=slug}}" title=title)
                            .content
                                .header 
                                    // i.icon(class=icon)
                                    +icolor name=color_icon
                                    |#{plural}
                        
                        
template(name='block')
    // style.
    //   .block_style {
    //       background-image:url('/tw_bg.png') !important;
    //       background-repeat: no-repeat;
    //       background-position: right top;
    //   }
    if direct_template
        +Template.dynamic template=direct_template
    else
        .ui.stackable.padded.grid.block_style
            .centered.row   
                .twelve.wide.column
                    .ui.large.center.aligned.header #{title}
            .centered.row   
                .eight.wide.column
                    if left_image
                        img.ui.fluid.image(src="{{c.url image_id height=400 crop='limit'}}")
                    else
                        |!{html}
                .eight.wide.column
                    unless left_image
                        img.ui.fluid.image(src="{{c.url image_id height=400 crop='limit'}}")
                    else
                        |!{html}                        
