template(name='delta')
    with current_model
        .ui.stackable.padded.grid
            .row
                .six.wide.column.scrolling
                    +i name=icon classes='ui avatar image pointer'
                    .ui.inline.header
                        | #{title}
                    unless is_loading
                        if currentUser
                            .add_model_doc(title="Add #{title}")
                                +i name='plus' classes='ui avatar image pointer'
                        //- if can_edit
                            //- +edit_circular.button
            
                        if is_dev
                            //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                            .edit_model
                                +i name='settings' classes='ui avatar image pointer'
                                //- | Configure #{plural}
                        // .ui.divider
                        // // each sessions
                        // //     .ui.icon.button.select_session(class=session_selector_class title='select session')
                        // //         i.play.icon
                        if current_delta
                            if is_dev
                                .print_delta(title='print session doc')
                                    +i name='code' classes='ui avatar image pointer'
                            .reset(title='reload session')
                                +i name='refresh' classes='ui avatar image pointer'
                            .delete_delta(title='delete session')
                                i.trash.icon
                        else
                            .create_delta.ui.large.button(title='new session')
                                +i name='plus' classes='ui avatar image pointer block'
                                |session
                        if description
                            .ui.segment
                                |#{description}
                        //- if is_dev
                        //-     .ui.input
                        //-         input.import_subreddit(type='text' placeholder='import_subreddit')
                    // |did: #{session_delta_id}
                    div
                    each sorted_facets
                        +facet
                .ten.wide.column.scrolling
                    //- .ui.inline.header
                    //-     |sort by
                    //- .ui.button
                    //- .ui.stackable.four.column.grid
                    each current_delta.result_ids
                        //- .column
                        +delta_result
                


template(name='facet')
    if filtering_res
        //- .ui.hidden.divider
        .ui.accordion
            .active.title
                if icon
                    //- i.small.icon(class=icon)
                    +i name=icon classes='ui avatar image pointer'   
                .ui.inline.header 
                    if title
                        |#{title}
                    else 
                        |#{key}
                        //- i.dropdown.icon
                .ui.icon.small.transparent.input
                    i.search.icon
                    input.add_filter(type='text')
            .active.content
                //- div
                each filtering_res
                    if name
                        .selector.ui.button.toggle_selection(class=toggle_value_class)
                            strong #{name}
                            if is_admin
                                small #{cal_count} #{count}
                    else
                        .selector.ui.button.toggle_selection(class=toggle_value_class)
                            strong [null]
                            //- small #{cal_count}
                .ui.hidden.divider

template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            i.icon(class=icon)
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            i.icon(class=icon)
            // | #{label}



template(name='delta_result')
    with result 
        if template_exists
            +Template.dynamic template=model_template
        else
            .ui.result.cloud.fluid.segment(class=loading_class)
                .content
                    each fields
                        +Template.dynamic template=view_template 
                    each actions
                        +Template.dynamic template=this data=current_doc
                    .extra
                        if is_model
                            +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                            a.ui.button.route_model(href="/m/#{slug}")
                                i.sitemap.teal.icon
                                |view model
                            if is_admin
                                a.ui.button.route_model(href="/model/edit/#{_id}")
                                    i.edit.blue.icon
                                    |edit model
                        if can_edit
                            a.ui.large.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                                i.pencil.blue.large.icon
                                //- |edit
                        a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                            i.right.chevron.yellow.large.icon
                        if _author_id
                            +author_info
                        +creation_info
                    if is_dev
                        +text_edit key='model' direct=true
                        +text_edit key='tribe_slug' direct=true
                        .ui.inline.header _id: #{_id}
                        .ui.inline.header light fields
                        each _keys
                            .ui.label #{this}
                        .ui.inline.header dark fields
                        each _dark_fields
                            .ui.label #{this}
                        //- +call_method name='detect_fields'
                        +call_method name='key' icon='key'
                        +remove_button
                        +clone
                        
