//- template(name='delta')
//-     .ui.stackable.padded.grid
//-         .row
//-             .eight.wide.right.aligned.column.scrolling
//-                 .ui.label
//-                     +loginButtons align="right"
//-                 if is_loading
//-                     i.yin.yang.big.grey.loading.icon
//-                     .ui.hidden.divider
//-                 unless is_loading
//-                     if currentUser
//-                         .ui.icon.circular.button.add_model_doc(title="add #{title}")
//-                             i.plus.icon
//-                     if current_delta
//-                         .ui.icon.large.circular.button.print_delta(title='print session doc')
//-                             i.code.icon
//-                         .ui.reset.icon.circular.button(title='reload session')
//-                             i.refresh.icon
//-                         .ui.delete_delta.icon.circular.button(title='delete session')
//-                             i.trash.icon
//-                     else
//-                         .create_delta.ui.large.icon.button(title='new session')
//-                             i.plus.icon
//-                 div
//-                 each sorted_facets
//-                     +facet
//-             .eight.wide.column.scrolling
//-                 //- .ui.inline.header
//-                 //-     |sort by
//-                 //- .ui.button
//-                 //- .ui.stackable.four.column.grid
//-                 each current_delta.result_ids
//-                     //- .column
//-                     +delta_result
//- 
//- 
//- 
//- template(name='facet')
//-     if filtering_res
//-         i.grey.large.icon(class=icon)
//-         //- .ui.icon.small.transparent.input
//-         //-     i.search.icon
//-         //-     input.add_filter(type='text')
//-         each filtering_res
//-             if name
//-                 .selector.ui.circular.compact.button.toggle_selection(class=toggle_value_class)
//-                     strong #{name}
//-                     if is_admin
//-                         small #{cal_count} #{count}
//-             else
//-                 .selector.ui.button.toggle_selection(class=toggle_value_class)
//-                     strong [null]
//-                     //- small #{cal_count}
//-         .ui.hidden.divider
//- 
//- 
//- template(name='delta_result')
//-     with result 
//-         .content
//-             each tags
//-                 .ui.basic.circular.label #{this}
//-             if youtube_id
//-                 .ui.embed(data-source="youtube" data-id=youtube_id)
//-             if youtube
//-                 .ui.embed(data-source="youtube" data-id=youtube)
//-             if image_id
//-                 img.ui.centered.rounded.large.image(src="{{c.url image_id gravity='face' crop='fit'}}" class=classes)
//- 
//-             a.ui.header(href=url) #{url}
//-             //- each tags
//-             //-     .ui.label #{this}
//-             |!{content} !{new_html} !{body} !{description}
//- 
//-             .extra
//-                 if can_edit
//-                     a.ui.large.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
//-                         i.pencil.blue.large.icon
//-                 //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
//-                 //-     i.right.chevron.yellow.large.icon
//-                 .ui.header #{_author_username} #{when}
//-             input.change_author(type='text' value=_author_username)
//-             .ui.icon.button.delete_doc
//-                 i.remove.icon
//-             .ui.icon.large.cricular.button.make_reddit
//-                 i.reddit.icon
//-             .ui.icon.large.cricular.button.make_wiki
//-                 i.wikipedia.icon
