template(name='admin_dashboard')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |admin dashboard
                    .ui.button.calculate_tribe_stats
                        |calculate tribe stats
                    .ui.header ##{views} views
                    //- with tribe_stats_doc
                    .ui.small.header post_count #{post_count}
                    .ui.small.header event_count #{event_count}
                    .ui.small.header task_count #{task_count}
                    .ui.small.header course_count #{course_count}
                    .ui.small.header page count #{page_count}
                    .ui.small.header model count #{model_count}
                    .ui.small.header chat_count #{chat_count}
                    .ui.small.header products_count #{products_count}
                    .ui.small.header doc count #{doc_count}
                        
                        
template(name='admin_dashboard_summary')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |dashboard_summary
                    
template(name='admin_dashboard_account')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |admin_dashboard_account
                    
template(name='admin_dashboard_organization')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |admin_dashboard_organization
                    
template(name='admin_dashboard_referrals')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |admin_dashboard_referrals
                    
template(name='admin_dashboard_getting_started')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .sixteeen.wide.column
                    .ui.header 
                        +i name='dashboard'
                        |admin_dashboard_getting_started
                    
template(name='te_dashboard_nav')
    .ui.attached.borderless.inverted.small.menu(style="background:#{current_tribe.nav_color}80")
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard/summary")
            +i name='overview-pages-2' classes='ui avatar image'
            | overview
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard/account")
            +i name='account' classes='ui avatar image'
            | account
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard/organization")
            +i name='building' classes='ui avatar image'
            | organization
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard/referrals")
            +i name='alert' classes='ui avatar image'
            | referrals
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard/getting_started")
            +i name='clock' classes='ui avatar image'
            | getting started
          
