template(name='te_donations_nav')
    .ui.attached.borderless.inverted.small.menu(style="background:#{current_tribe.nav_color}80")
        a.item(href="/t/#{current_tribe.slug}/admin/donations") 
            +i name='list' classes='ui avatar image'
            | donations
        a.item(href="/t/#{current_tribe.slug}/admin/donations/donors")
            +i name='envelope' classes='ui avatar image'
            | donors
        a.item(href="/t/#{current_tribe.slug}/admin/donation_settings")
            +i name='envelope' classes='ui avatar image'
            | donation settings
        a.item(href="/t/#{current_tribe.slug}/admin/donations/donation_receipt")
            +i name='envelope' classes='ui avatar image'
            | donation receipt
        a.item(href="/t/#{current_tribe.slug}/admin/donations/confirmation_email")
            +i name='envelope' classes='ui avatar image'
            | donation confirmation email

template(name='admin_donations')
    .ui.stackable.padded.grid
        .ui.header admin donations
template(name='admin_donations_donors')
    .ui.stackable.padded.grid
        .ui.header donors
template(name='admin_donations_donation_settings')
    .ui.stackable.padded.grid
        .ui.header admin_donations_donation_settings
template(name='admin_donations_donation_receipt')
    .ui.stackable.padded.grid
        .ui.header admin_donations_donation_receipt
template(name='admin_donations_confirmation_email')
    .ui.stackable.padded.grid
        .ui.header admin_donations_confirmation_email
