template(name='admin_website')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +i name='template'
                    |tribe website
                .ui.button.add_page(title='add page')
                    i.plus.icon
                    |add page
                .ui.vertical.fluid.large.menu
                    each pages
                        .item.pointer.set_page #{title}
                            if home
                                i.home.icon
            .twelve.wide.column
                +tribe_page_view slug=slug



template(name='tribe_page_view')
    with current_page
        .ui.three.compact.buttons
            .ui.button.set_view_mode(class=view_mode_class)
                +i name='template' classes='ui inline mini image'
            .ui.button.set_edit_page(class=edit_mode_class)
                +i name='pencil' classes='ui inline mini image'
            .ui.button.set_configure_page(class=configure_mode_class)
                +i name='settings' classes='ui inline mini image'
        .ui.header #{title}
        if viewing
            +text_view key='title' label='title' direct=true
            +html_view key='content' label='content' direct=true
            +boolean_view key='home' label='home' direct=true
        else if editing
            +text_edit key='title' label='title' direct=true
            +html_edit key='content' label='content' direct=true
            +boolean_edit key='home' label='home' direct=true
        else if configuring
            .ui.header 
                +i name='settings' 
                |configure
            +text_view key='title' label='title' direct=true
            +text_view key='url' label='url' direct=true
            +boolean_view key='home' label='home' direct=true
