template(name='te_emails_nav')
    .ui.attached.borderless.inverted.tiny.menu.topnav(style="background:#{current_tribe.nav_color}80")
        a.item(href="/t/#{current_tribe.slug}/admin/emails/summary") 
            +i name='dashboard' classes='ui avatar image'
            |summary
        a.item(href="/t/#{current_tribe.slug}/admin/emails/list") 
            +i name='list' classes='ui avatar image'
            |emails
        a.item(href="/t/#{current_tribe.slug}/admin/emails/templates") 
            +i name='search' classes='ui avatar image'
            |templates
        a.item(href="/t/#{current_tribe.slug}/admin/emails/log") 
            +i name='signal' classes='ui avatar image'
            |log
        a.item(href="/t/#{current_tribe.slug}/admin/emails/settings") 
            +i name='groups' classes='ui avatar image'
            |settings
 
template(name='admin_emails_summary')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.header 
                +i name='dashboard'
                |emails summary

template(name='admin_emails_list')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.header 
                +i name='dashboard'
                |emails list

template(name='admin_emails_templates')
    a#add_user.ui.basic.button(href='/user/add')
        i.plus.icon
        |admin_emails_templates
                        

template(name='admin_emails_log')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
        .ui.header admin_emails_log
        
        
        
template(name='admin_emails_settings')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
        .ui.header admin_emails_settings
