template(name='tribes')
    .ui.stackable.grid
        .row
            .four.wide.column
                if currentUser
                    .add_tribe.inline
                        +i name='plus' classes='ui avater pointer image inline'
                .ui.inline.header 
                    +i name='fire'
                    |tribes
                +cloud filter='tribe'
            .twelve.wide.column
                .ui.left.icon.input
                    i.search.icon
                    input.tribe_filter(type='text' placeholder='filter...' autofocus='autofocus')
                .ui.stackable.grid.scrolling
                    .four.column.row
                        each tribes
                            .column
                                .ui.segment.home_segment.pointer.enter
                                    if icon
                                        +i name=icon
                                    img.ui.rounded.image(src="{{c.url image_id width=400 height=400 crop='lpad'}}")                
                                    .ui.header 
                                        |#{title}
                                    |#{tagline}
                                    |#{task_count}
                                    i.tasks.grey.icon(title='tasks')
                                    |#{page_count}
                                    i.clone.outline.grey.icon(title='pages')
                                    |#{model_count}
                                    i.cubes.grey.icon(title='models')
                                    |#{post_count}
                                    i.newspaper.grey.icon(title='posts')
                                    |#{event_count}
                                    i.calendar.grey.icon(title='events')
                                    |#{chat_count}
                                    i.chat.grey.icon(title='chats')
                                    |#{product_count}
                                    i.cart.grey.icon(title='products')
                                    |#{points}
                                    i.thumbs.up.grey.icon(title='points')
                                    |#{doc_count}
                                    i.document.icon(title='documents')
                                    if is_dev
                                        +text_edit key='slug' direct=true
                                        +edit_button
                                    //- +enter_tribe
                            
                    
template(name='tribe_card_template')
    .ui.segment                    
        .ui.inline.header #{title}
            if complete
                i.large.green.checkmark.icon
        .ui.basic.segment
            +html_view key='description' label='description' direct=true
        each tags
            .ui.basic.large.label #{this}
        if is_admin
            +boolean_edit key='complete' label='complete' direct=true
        +boolean_view key='complete' label='complete' direct=true
        div
        a.ui.button(href="/tribe/#{_id}/view")
            |view
            i.chevron.right.icon
        if can_edit
            a.ui.button(href="/tribe/#{_id}/edit")
                i.pencil.icon
                |edit
            +remove_button


template(name='tribe_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/tribes")
                        +i name='fire' classes='ui avatar image'
                        |tribes
                    .ui.header view tribe
                    a.ui.big.icon.button(href="/tribe/#{_id}/edit")
                        i.pencil.icon
                    +voting_full
                    +viewing
                .twelve.wide.column 
                    +text_view key='title' label='title' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +html_view key='description' icon='content' label='description' direct=true
                    +boolean_view key='complete' label='complete' direct=true
                    +number_view key='estimated_minutes' label='estimated minutes' direct=true
                    +multi_user_view key='assigned_to_multiple' label='assigned to' direct=true
                    +multi_user_view key='related_people' label='related people' direct=true
                    +comments






template(name='user_tribes')
    +i name='fire' classes='ui inline image'
    .ui.inline.header tribes
    .ui.stackable.padded.grid
        .two.column.row
            .column
                .ui.header 
                    +i name='campfire' classes='ui inline image'
                    |my tribes
                each my_tribes
                    .ui.inline.header
                        img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                        |#{title}
                        +enter_tribe
                    div
            .column
                .ui.header all tribes
                each tribes
                    .ui.inline.header 
                        img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                        |#{title}
                    +toggle_tribe_membership
                    div
        
template(name='user_tribe_segment')
    .ui.segment
        a.ui.header(href="/tribe/#{_id}/view") #{body}
        +boolean_edit key='complete' label='complete' direct=true true_icon='checkmark' false_icon='remove'
        +voting
        +author_info
        +creation_info
        if is_author
            +remove_button
    a.ui.icon.button(href="/tribe/#{_id}/view")
        i.right.chevron.icon
    a.ui.icon.button(href="/tribe/#{_id}/edit")
        i.pencil.icon
