template(name='tribe_edit_layout')
    +nav
    +yield 'sub_nav'
    +yield 'sub_sub_nav'
    +yield
    +footer 


template(name='tribe_edit_nav')
    .ui.attached.borderless.inverted.small.menu.topnav
        a.item(href="/t/#{current_tribe.slug}/admin/dashboard" class="isActiveRoute regex='admin_dashboard'") 
            +i name='dashboard' classes='ui avatar image'
            |dashboard
        a.item(href="/t/#{current_tribe.slug}/admin/contacts" class="isActiveRoute regex='admin_contacts'") 
            +i name='groups' classes='ui avatar image'
            |contacts
        a.item(href="/t/#{current_tribe.slug}/admin/website" class="isActiveRoute regex='admin_website'") 
            +i name='template' classes='ui avatar image'
            |website
        a.item(href="/t/#{current_tribe.slug}/admin/events" class="isActiveRoute regex='admin_events'") 
            +i name='calendar' classes='ui avatar image'
            |events
        a.item(href="/t/#{current_tribe.slug}/admin/members" class="isActiveRoute regex='admin_members'") 
            +i name='groups' classes='ui avatar image'
            |members
        a.item(href="/t/#{current_tribe.slug}/admin/store" class="isActiveRoute regex='admin_store'") 
            +i name='shop' classes='ui avatar image'
            |store
        a.item(href="/t/#{current_tribe.slug}/admin/donations" class="isActiveRoute regex='admin_donations'") 
            +i name='money' classes='ui avatar image'
            |donations
        a.item(href="/t/#{current_tribe.slug}/admin/finances" class="isActiveRoute regex='admin_finances'") 
            +i name='money' classes='ui avatar image'
            |finances
        a.item(href="/t/#{current_tribe.slug}/admin/email" class="isActiveRoute regex='admin_emails'") 
            +i name='envelope' classes='ui avatar image'
            |email
        a.item(href="/t/#{current_tribe.slug}/admin/settings" class="isActiveRoute regex='admin_settings'") 
            +i name='settings' classes='ui avatar image'
            |settings
         

template(name='tribe_edit')
    with tribe_by_slug
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit '#{title}' tribe
                    a.ui.big.icon.fluid.button(href="/tribe/#{_id}/view" title='save')
                        i.green.large.checkmark.icon
                    +image_edit key='image_id' label='image' icon='image' direct=true
                    +image_edit key='background' label='background' icon='image' direct=true
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .eight.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +slug_edit key='slug' label='slug' icon='slug' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                .four.wide.column 
                    .ui.header features
                    +boolean_edit key='chat' label='chat' icon='chat' direct=true
                    +boolean_edit key='mail' label='mail' icon='envelope' direct=true
                    +boolean_edit key='tasks' label='tasks' icon='tasks' direct=true
                    +boolean_edit key='courses' label='courses' icon='university' direct=true
                    +boolean_edit key='blog' label='blog' icon='blog' direct=true
                    +boolean_edit key='shop' label='shop' icon='shop' direct=true
                    +boolean_edit key='events' label='events' icon='calendar' direct=true
                    +boolean_edit key='gallery' label='gallery' icon='gallery' direct=true
                    .ui.header theming
                    +color_edit key='nav_color' label='color' direct=true
                     
